.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    background-image: url("../../assets/background.png");
    min-height: 100vh;
}
.belt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.palmSign{
    width: 26.666vw;
    height: 180px;
}
.palmButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.palmImg{
    margin-top: 25px;
    width: 120px;
    height: 120px;
}
.palmText{
    font-size: 14px;
    font-family: Marcellus, 'serif';
    color: white
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.underContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
}
.handSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.initHand {
    width: 140px;
    height: 140px;
    color: white;
}
.session{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merriweather, 'serif';
    font-size: 28px;
    color: white;
    height: 15vh;
}
.text{
    text-align: center;
    color: white;
    width: 40vw;
    font-family: Merriweather, 'serif';
    font-size: 18px;
    margin-top: 2vh;
}
.link{
    color: white;
}
.handImg{
    height: 310px;
    width: 310px;
}
.button{
    outline: none;
    border: none;
    background-color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Merriweather, 'serif';
}

.active{
    text-decoration: none;
    background-color: magenta;
}
.palmButton:hover{
    text-decoration: none;
    /*background-color: white;*/
    /*transition: 0.3s;*/
}
.active:hover{
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 640px) {
    .background{
        /*min-height: 160vh;*/
    }
    .content{
        margin-bottom: 5vh;
    }
    .belt{
        flex-direction: column;
    }
    .underContainer {
        flex-direction: column-reverse;
    }
    .text {
        font-size: 16px;
        width: 80vw
    }
    .handSection{
        flex-direction: column;
    }
    .handImg{
        height: 190px;
        width: 190px;
    }
    .button{
        margin-top: 4vh;
    }
}