.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../assets/clickCore.png");
    width: 170px;
    height: 54px;
    border-radius: 10px;
    -moz-box-shadow:0 0 10px #fff;
    -webkit-box-shadow:0 0 10px #fff;
}
.text{
    width: 50px;
    margin-left: 10px;
    font-size: 12px;
}
.image{
    position: relative;
    left: 10px;
    width: 64px;
    height: 64px;
}