.container{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh);
}
.contentImage{
    width: 35vw
}
.greetings{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    width: 140px;
}
.belowGreet{
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}


.initiateImgContainer{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-evenly;
    margin: 60px;
}
.initiateImg{

}
.initMessage{
    margin: 50px;
    color: white;
    height: 300px;
    width: 500px;
}
.initForm{
    width: 30%;
    display: flex;
    color: white;
    margin-top: 60px;
    justify-content: space-evenly;
}

.header{
    margin-top: 80px;
    margin-bottom: 80px
}
.list{
    font-size: 28px;
    list-style-image: url("../../assets/moon.svg");
}
.payment{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
}
.content{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-evenly;
    width: 70%
}


@media screen and (max-width: 800px){
    .container{
        justify-content: space-evenly;
    }
    .initiateImgContainer{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .initMessage{
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: -60px 0 0 0;
    }
    .greetings{
        width: 100px;
        font-size: 20px;
    }
    .header{
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        justify-content: center;
    }
    .headText{
        width: 80%;
    }
    .belowGreet{
        width: 300px;
        font-size: 18px;
        margin-top: 20px;
    }
    .contentImage{
        width: 80vw;
        transform: scale(0.8, 0.8);
    }
    .initiateImg{
        transform: scale(0.5, 0.5);
        margin-top: -100px;
    }
    .initForm{
        margin-top: 0
    }
    .list{
        font-size: 18px;
    }
    li{
        margin: 10px 0 10px 0;
    }
    .content{
        flex-direction: column;
    }
    .payment{
        align-items: center;
    }
}
