.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh);
}
.contentImage{
    position: absolute;
    transform: scale(0.5, 0.5);
    right: 80px;
    bottom: -120px;
}
.greetings{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    width: 140px;
}
.belowGreet{
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}


.initiateImgContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
}
.initiateImg{

}
.signText1{
    position: relative;
    top: 50px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #cccc00
}
.signText2{
    position: relative;
    left: 180px;
    top: 40px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #ff5500
}
.signText3{
    position: relative;
    left: 380px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: lime;
}
.signText4{
    position: relative;
    left: 200px;
    top: 110px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: darkslateblue;
}
.signText5{
    position: relative;
    left: 280px;
    top: 180px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #ff9933
}
.initMessage{
    margin: 50px;
    color: white;
    height: 300px;
    width: 500px;
}
.initForm{
    width: 30%;
    display: flex;
    color: white;
    margin-top: 60px;
    justify-content: space-evenly;
}

.header{
    margin-bottom: 80px
}
.list{
    font-size: 28px;
    list-style-image: url("../../assets/moon.svg");
}
.payment{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    width: 70%
}


@media screen and (max-width: 600px){
    .initiateImgContainer{
        flex-direction: column;
        align-items: center;
    }
    .initMessage{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: -60px 0 0 0;
    }
    .greetings{
        width: 100px;
        font-size: 20px;
    }
    .belowGreet{
        width: 300px;
        font-size: 18px;
        margin-top: 20px;
    }
    .contentImage{
        position: relative;
        transform: scale(0.3, 0.3);
        bottom: 360px;
        left: 10px;
    }
    .initiateImg{
        transform: scale(0.5, 0.5);
        margin-top: -100px;
    }
    .signText1{
        font-size: 10px;
        left: -120px;
        top: 20px;
    }
    .signText2{
        font-size: 10px;
        left: -20px;
        top: 0;
    }
    .signText3{
        font-size: 10px;
        top: -30px;
        left: 120px;
    }
    .signText4{
        font-size: 10px;
        top: 50px;
        left: -10px;
    }
    .signText5{
        font-size: 10px;
        top: 80px;
        left: 70px;
    }
    .initForm{
        margin-top: 0
    }
    .list{
        font-size: 18px;
    }
    li{
        margin: 10px 0 10px 0;
    }
    .content{
        flex-direction: column;
    }
    .payment{
        align-items: center;
    }
}
