.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 120px);
}
.contentImage{
    position: absolute;
    transform: scale(0.5, 0.5);
    bottom: 40px;
    right: 80px;
}


.initiateImgContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
}
.initiateImg{

}
.signText1{
    position: relative;
    left: 200px
}
.signText2{
    position: relative;
    left: 250px;
}
.signText3{
    position: relative;
    left:150px
}
.signText4{
    position: relative;
    left: 200px;
    top: 100px;
}
.signText5{
    position: relative;
    top: 200px;
}
.initMessage{
    margin: 50px;
    color: white;
    height: 300px;
    width: 500px;
}
.initForm{
    width: 30%;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.header{
    margin-bottom: 80px
}
.list{
    font-size: 28px;
    list-style-image: url("../../assets/moon.svg");
}
.payment{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    width: 70%
}
