.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 180px);
    background-color: deepskyblue;
}

.portal{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.portalRow{
    display: flex;
    justify-content: center;
}
.element{
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
}