.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 180px;
    background-color: black
}

.navbar{
    display: flex;
    justify-content: space-between;
}

