.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    color: white;
}

.link{
    text-decoration: none;
    color:white;
}

.link:hover{
    color: magenta;
    transition: 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 720px){
    .navbar{
        width: 80%
    }
}

