.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 180px;
    background-color: black;
    filter: opacity(0.7);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

