.container{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 80%;
    padding: 15px 15px 40px 15px;
    max-width: 80vw;
    -webkit-align-self: center;
    align-self: center;
    height: calc(100vh);
}

.themeHeader{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-evenly;
}

.hyromancer{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    box-shadow: 0 0 18px #ccf;
}

.message{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 500px;
    font-size: 16px;
    color: white;
    margin-left: 25px;
}

.mainContent{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-evenly;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.warning{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

.warnImage{
    width: 100px;
    height: 100px;
}

.warnMessage{
    width: 300px;
    color: white;
}
.unique{
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/кнопка.png");
    text-transform: uppercase;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    box-shadow: 0 0 7px #99e;
    font-size: 18px;
    line-height: 1.1em;
    color: white;
}
.unique:hover{
    transition: 0.7s;
    box-shadow: 0 0 18px #aae;
    color: darkblue;
}

.content{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 40vw;
    height: 70%;
}
.buttonContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.payButton{

}
.zodiak{
    transform: scale(0.6, 0.6);
}

@media screen and (max-width: 600px){
    .content{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        width: 100vw;
    }
    .themeHeader{
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        height: 280px;
    }
    .hyromancer{
        transform: scale(0.7, 0.7);
    }
    .message{
        width: 80vw;
        font-size: 14px;
        line-height: 1.1em;
    }
    .warning{
        margin-top: 10px;
        width: 100%;
    }
    .warnMessage{
        width: 65vw;
        font-size: 12px;
    }
    .warnImage{
        transform: scale(0.7, 0.7);
    }
    .datePicker{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
    .unique{
        width: calc(0.6 * 140px);
        height: calc(0.6 * 140px);
        background-size: 100%;
        font-size: 14px;
    }
}
