.container{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    width: 80%;
    padding: 15px 15px 40px 15px;
    max-width: 80vw;
    -webkit-align-self: center;
    align-self: center;
    height: 100vh
}

.themeHeader{
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.headMessage{
    color: white;
    width: 60%;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 36px;
}

.hyromancer{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    box-shadow: 0 0 18px #ccf;
}

.message{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: 600;
    font-family: Merriweather, 'serif';
    margin-top: 2vh;
}

.mainContent{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.headLine{
    width: 70%;
    text-align: center;
}

.warning{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 10px;
    width: 40vw
}
.lastWarning{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.warnImage{
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
}
.warnImageTodo{
    width: 140px;
    height: 160px;
}
.warnImageHand{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.warnMessage{
    width: 70%;
    margin: 5%;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: Merriweather, 'serif';
}
.unique{
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/кнопка.png");
    text-transform: uppercase;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    box-shadow: 0 0 7px #99e;
    font-size: 18px;
    line-height: 1.1em;
    color: white;
    margin-top: 5vh;
}
.unique:hover{
    transition: 0.7s;
    box-shadow: 0 0 18px #aae;
    color: darkblue;
}

.content{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 40vw;
    height: 70%;
    margin-top: 15vh;
}
.buttonContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.payButton{

}
.zodiak{
    transform: scale(0.6, 0.6);
}

@media screen and (max-width: 720px){
    .content{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        width: 100vw;
    }
    .themeHeader{
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
    .hyromancer{
        transform: scale(0.7, 0.7);
    }
    .headMessage{
        font-size: 18px;
        width:100%;
        margin-bottom: 0;
    }
    .message{
        width: 80vw;
        font-size: 14px;
        line-height: 1.1em;
    }
    .warning{
        margin-top: 10px;
        width: 100%;
        padding: 0;
    }
    .warnMessage{
        font-size: 12px;
    }
    .warnImage{
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }
    .warnImageTodo{
        height: 80px;
        width: calc((80px/8)*7);
    }
    .datePicker{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
    .unique{
        width: calc(0.6 * 140px);
        height: calc(0.6 * 140px);
        background-size: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 1080px) and (min-width: 720px){
    .headMessage{
        font-size: 26px;
    }
    .warning{
        width: 35vw;
    }
    .warnMessage{
        width: 80%;
        font-size: 14px;
    }
    .warnImage{
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }
    .warnImageTodo{
        height: 80px;
        width: calc((80px/8)*7);
    }
}
