.appContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    background-image: url("./assets/main_bckg.jpg");
    font-family: "Roboto Slab";
}

@media (max-height: 750px){
    .appContainer{
        height: calc(110vh + 120px);
    }
}

@media (max-height: 550px){
    .appContainer{
        height: calc(100vh + 200px);
    }
}